<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heo.step13application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity" >
            <intent-filter >
                <action android:name="com.example.heo.intentfilter.secondview" />
                <!-- 기본적으로 intentFilter를 받기 위해서는 DEFAULT category 를 추가 해야 한다.
                     intent send Action을 추가한다면, 기본적으로
                	 android.intent.category.DEFAULT category가 추가되서 보내 진다. -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>